In [36]:
library(dplyr)

library(tidyverse)

In [37]:
flights <- read.csv("flights.csv", stringsAsFactors = FALSE)

airlines <- read.csv("airlines.csv")

glimpse(flights)

glimpse(airlines)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <int> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <int> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <int> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <int> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <int> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <int> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <chr> "2013-01-01T10:00:00Z", "2013-01-01T10:00:00Z", "2013-0…
Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

# Q1: How many flights in 2013 ?

In [38]:
flights %>%
count(year, name = "flight")

year,flight
<int>,<int>
2013,336776

# Q2:What is the most airline flight ?

In [53]:
flights %>%
  count(carrier , name = "flights") %>%
  arrange(desc(flights)) %>% 
  left_join(airlines) %>% 
  head(1)

Joining, by = "carrier"

,carrier,flights,name
,<chr>,<int>,<chr>
1,UA,58665,United Air Lines Inc.

# Q3: What is the most delay airline ?

In [144]:
flights %>%
  filter(arr_delay < 0) %>%
  count(carrier , name = "flights") %>%
  arrange(desc(flights)) %>% 
  left_join(airlines) %>% 
  head(1)

Joining, by = "carrier"

,carrier,flights,name
,<chr>,<int>,<chr>
1,UA,34642,United Air Lines Inc.

# Q4: What is the percent of delay flight and flight

In [117]:
flight <- flights %>%
  count(carrier , name = "flight")


flights %>%
  filter(arr_delay < 0) %>%
  count(carrier , name = "delay_flight") %>%
  left_join(flight)%>%
  mutate(percent = (delay_flight/flight)*100)%>%
  arrange((percent))%>%
  left_join(airlines)

Joining, by = "carrier"

Joining, by = "carrier"

carrier,delay_flight,flight,percent,name
<chr>,<int>,<int>,<dbl>,<chr>
FL,1211,3260,37.14724,AirTran Airways Corporation
F9,271,685,39.56204,Frontier Airlines Inc.
YV,280,601,46.58902,Mesa Airlines Inc.
EV,25823,54173,47.66766,ExpressJet Airlines Inc.
MQ,12856,26397,48.70250,Envoy Air
WN,6513,12275,53.05906,Southwest Airlines Co.
B6,29514,54635,54.02032,JetBlue Airways
9E,10430,18460,56.50054,Endeavor Air Inc.
US,12113,20536,58.98422,US Airways Inc.
UA,34642,58665,59.05054,United Air Lines Inc.
OO,19,32,59.37500,SkyWest Airlines Inc.
DL,30463,48110,63.31948,Delta Air Lines Inc.
AA,20769,32729,63.45748,American Airlines Inc.
VX,3276,5162,63.46377,Virgin America
HA,241,342,70.46784,Hawaiian Airlines Inc.
AS,512,714,71.70868,Alaska Airlines Inc.

# Q5: Summarize of distance flights

In [122]:
flights %>%
  summarise(Avg_distance = mean(distance),
            sd_distance = sd(distance),
            min_distance = min(distance),
            max_distance = max(distance),
            sum_distance = sum(distance))

Avg_distance,sd_distance,min_distance,max_distance,sum_distance
<dbl>,<dbl>,<int>,<int>,<int>
1039.913,733.233,17,4983,350217607

# Q6: What day most flights

In [143]:
flights %>%
group_by(month)%>%
count(day, name = "flights")%>%
arrange(desc(flights))%>%
head(1)

month,day,flights
<int>,<int>,<int>
11,27,1014